# Generar certificats
# docker compose -f docker-compose.prod.yml run --rm --entrypoint tr2-reptes-tr2-grup2-certbot-1 certbot certonly --webroot --webroot-path /var/www/certbot -d gestallers.daw.inspedralbes.cat --email a23cliferadn@inspedralbes.cat --agree-tos --no-eff-email
version: "3.9"

services:
  nginx:
    build:
      context: .
      dockerfile: nginx.Dockerfile
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      tr2g2-back:
        condition: service_started
    restart: unless-stopped

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    # Loop para comprobar renovación de certificados cada 12h
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

  tr2g2-back:
    image: node:22-bookworm-slim
    # Nota: Asegúrate de que .env.PROD existe o fallará el cp
    command: sh -c "rm -rf ./generated/prisma && cp -f .env.PROD .env && npm install && npx prisma generate && node index.js"
    volumes:
      - ./back:/usr/src/app
    working_dir: /usr/src/app
    ports:
      - 8000:8000

  tr2g2-mysql:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: GESTIO-CURSOS
    volumes:
      - mysql-db:/var/lib/mysql:rw

  tr2g2-adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    environment:
      ADMINER_DEFAULT_SERVER: tr2g2-mysql
    depends_on:
      - tr2g2-mysql

  tr2g2-portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - 9443:9443

volumes:
  mysql-db:
  portainer_data:
