<div
  style="
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
  "
>
  <h1 style="color: #e63946">¡Hola!</h1>
  <p>
    <strong>{{nom}}</strong> t'enviem la informació per accedir com a tallerista
    a l'aplicatiu.
  </p>

  <a
    href="{{url}}tallerista/{{idTaller}}"
    style="
      background-color: #1d3557;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      display: inline-block;
    "
  >
    Accedir
  </a>
</div>
